@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body {
    font-family: 'Times New Roman', Times, serif;
    background: #131315;
}



  #cabecera {
    display:flex;
    
    padding: 0;
    margin: 0;
    background-color: #d9dbf1;
    position: static; 
    bottom: 0; 
    border: 0; 
    margin: 10px;
  }

  #cabecera .logo h1 img {
    float: left;
    max-width: 300px;
    max-height: 115px;
    margin-left: 12px;
    background-color: #CD5C5C;
  }

  #cabecera .social  {
    background-color: blueviolet;
    float: right;
  }
  #cabecera .social img{

    background-color: aqua;
    float: right;
    width: 100px;
    margin-right: 1px;
  }

  #NavBar {
    border: 2px solid; 
    text-align: center; 
    margin-top: 2px;
    width: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: beige;
}

#NavBar ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px 0 20px;
}

#NavBar ul li a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

#NavBar ul li a:hover {
    background-color: #5a5a5a;
    text-decoration: none;
    color: white;
}

#pie {
  border-top: 1px solid #CD5C5C;
  margin-top: 1em;
  font-size: .75em;
  color: #555;
  text-align: center;
}