
/*----------Punto 1----------*/
#contenedor {
  width: 900px;
  background-color: #CD5C5C;
  margin: auto;
}
/*----------Punto 2----------*/
body {
  font-family: Verdana;
}
/*----------Punto 3----------*/
#firma h1 img {
    float: right;
    width: 160px;
    margin: 1px;
  }
/*----------Punto 4----------*/
#foto h1 img {
    float: left;
    width: 160px;
    margin: 1px;
  }

  .resetear {
    clear:both;
  }
/*----------Punto 5----------*/
#menu {
background: url(img/fondo.png);
}
#menuPrincipal ul li{
  background-color: #F2D7D5;
  float: left;
  display: inline;
  margin: 0.7em;
  padding:0.3em;

}
#menuPrincipal ul li a {
  color:#FFF;
  font-size: 1em;
  text-decoration:none;
}
/*----------Punto 6----------*/
#lateralPagina {
  float: right;
  width: 35%;
  margin-top: .25em;
}
#lateralPagina ul {
  list-style-type: none;
  border: 1px solid #3CB371;
  padding: 0;
}
#lateralPagina ul li{
  background-color: #F2D7D5;
  border-top:1px solid #3CB371;
  border-bottom:1px solid #3CB371;
}
/*----------Punto 7----------*/
#lateralPagina ul li a {
  font-size: 1em;
  display: block; /*----------Sobrescribir el formato por defecto---------*/
  padding: 1em 5em 1em 5em; /*----------Margen arriba, derecha, abajo, izquierda---------*/
  /*Flecha normal*/
  color: #369;
  background: url("img/palomaNegra.jpg") no-repeat 5px;
  text-decoration:none;
}

/*Enlace del menu lateral*/
#lateralPagina ul li a:hover {
  color: #145A32;
  background: #069 url("img/palomaBlanca.jpg") no-repeat 5px;
  text-decoration:none;

}

#lateralPagina ul li a:visited{
  color:#900;
}
/*----------Punto 8----------*/
#centroPagina {
  width: 60%;
  float: left;
}
/*----------Punto 9----------*/
#centroPagina .cancion h2 {
  background-color: #117A65;
  color:#FFF;
}
/*----------Punto 10----------*/
#centroPagina .cancion h3 {
  color: #117A65;
  margin: 0;
}
/*----------Punto 11----------*/
#centroPagina .letra p {
  font-size: .75em;
}
/*----------Punto 12----------*/
#centroPagina .cancion {
  border-style: dotted;
  border-width: 1.8px;
  border-color: #999;
  padding-left: 1.5em;
  margin-top: 1.2em;
}
/*----------Punto 13----------*/
#pie {
  border-top: 1px solid #CD5C5C;
  margin-top: 1em;
  font-size: .75em;
  color: #555;
  text-align: center;
}
